%btn {
  border-radius: 0.8rem;
  padding: 1.4rem 3rem;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.bvn__dropdown {
  border-radius: 0.5rem;
  padding: 2.2rem;
}

.container__btn__continue {
  margin-top: 4.8rem;
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  border-top: 1px solid var(--blue-03);
}

.container__form__progress {
  border-bottom: 1px solid var(--blue-03);
  padding-bottom: 2rem;
}

.container__drop__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div:nth-child(2) {
    cursor: pointer;
  }

  > * {
    display: flex;
    align-items: center;
  }
}

.container__bvn__credentials {
  p {
    border-top: 1px solid #a5b4cb;
    padding-top: 2rem;
  }

  small {
    margin-left: 2.2rem;
    margin-top: 2rem;
  }
}

.form__input {
  border: 1px solid var(--blue-01);
  border-radius: 12px;
  background-color: var(--white);
  color: var(--black);
  padding: 10px;

  &:focus {
    outline: none;
    border-color: var(--blue-02);
  }
}

.form__progress-pill {
  background-color: var(--blue);
  padding: 0.65rem 1.3rem;
  font-size: 1.4rem;
  border-radius: 0.31rem;
  color: var(--white);
  margin-right: 1.2rem;
}

.form__progress-tick {
  background-color: var(--blue-01);
  padding: 0.65rem 1.3rem;
  font-size: 1.4rem;
  border-radius: 0.31rem;
  color: var(--white);
  margin-right: 1.2rem;
}

.btn__pill {
  padding: 0.4rem 1.9rem;
  background-color: var(--off-white);
  border: 1px solid rgba(20, 23, 55, 0.1);
  border-radius: 1rem;
  color: var(--dark);

  &:active {
    background-color: var(--blue-00);
    border: 1px solid var(--blue);
  }
}

.btn__blue {
  @extend %btn;
  background-color: var(--blue);
  color: var(--white);
}

.btn__tomato {
  @extend %btn;
  background-color: var(--red);
  color: var(--white);

  @media screen and (max-width: 790px) {
    visibility: hidden;
  }
}
