html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

input[type="radio"] {
  // visibility: hidden;
  display: none;
  height: 0;
  width: 0;
}
