%flex-vr {
  display: flex;
  flex-direction: column;
}

%flex-hr {
  display: flex;
  flex-direction: row;
}

.container__main {
  display: grid;
  grid-template-columns: 30ch 1fr;
  min-height: 100vh;
}

.container__side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__main {
  display: flex;
  flex-direction: column;
  padding: 3rem 6rem;
}

.main__btn__wrapper {
  display: flex;
  justify-content: flex-end;
}

.form__wrapper__steps {
  display: flex;
}

.wrapper__input__vr {
  > * + * {
    margin-top: 0.3rem;
  }

  @extend %flex-vr;
}

.wrapper__autofit {
  --min: 15ch;
  --gap: 3rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}
