:root {
  --red: #FF6774;
  --black: #141737;
  --blue:  #006AFF;
  --blue-00: #DCEAFF;
  --blue-01: #E4E9EF;
  --blue-02: #A5B4CB;
  --blue-03: #E9EEF4;
  --gold: #F3E8C9;
}

.background--gold {
  background-color: var(--gold);
}