:root {
  --white: #ffffff;
  --red: #ff6774;
  --red-01: #f68f97;
  --black: #141737;
  --blue: #006aff;
  --blue-00: #dceaff;
  --blue-01: #e4e9ef;
  --blue-02: #a5b4cb;
  --blue-03: #e9eef4;
  --blue-04: #7d8da7;
  --blue-05: #62a0f9;
  --gold: #f3e8c9;
  --off-white: #f5f6fa;
}

.background--gold {
  background-color: var(--gold);
}

.background--offwhite {
  background-color: var(--blue-03);
}

.text--muted {
  color: var(--blue-04);
}

.text--muted--01 {
  color: var(--black);
  opacity: 0.7;
}

.fade {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
