:root {
  --white: #ffffff;
  --red: #ff6774;
  --black: #141737;
  --blue: #006aff;
  --blue-00: #dceaff;
  --blue-01: #e4e9ef;
  --blue-02: #a5b4cb;
  --blue-03: #e9eef4;
  --blue-04: #7d8da7;
  --gold: #f3e8c9;
  --off-white: #f5f6fa;
}

.background--gold {
  background-color: var(--gold);
}

.background--offwhite {
  background-color: var(--blue-03);
}

.text--muted {
  color: var(--blue-04);
}

.text--muted--01 {
  color: var(--black);
  opacity: 0.7;
}
