%font-11 {
  font-size: 1.1rem;
}

%font-12 {
  font-size: 1.2rem;
}

%font-13 {
  font-size: 1.3rem;
}

%font-14 {
  font-size: 1.4rem;
}

%font-18 {
  font-size: 1.8rem;
}

.form__heading {
  font-size: 2.6rem;
}

.form__label-sm {
  @extend %font-12;
  font-weight: 500;
}

.form__label-sm-thin {
  @extend %font-13;
  font-weight: 400;
}

.form__label-m {
  @extend %font-14;
  font-weight: 500;
}
