.my-m {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.flow-vr-m > * + * {
  margin-top: 4rem;
}

.flow-vr-s > * + * {
  margin-top: 3.5rem;
}

.flow-vr-xs > * + * {
  margin-top: 1rem;
}

.flow-hr-xs * + * {
  margin-left: 1rem;
}

.flow-hr-m > * + * {
  margin-left: 3rem;
}

.no-margin {
  margin: 0;
}
